package user

import (
    "github.com/mariogarzac/godeck/pkg/models"
)

templ ShowFiles(files []models.File){
    <div id="file-list" hx-get="/get-files" hx-trigger="load">
        for _, file := range files {
            <p class="m-auto text-white"> {file.FileName} </p>
        }
    </div>
}

templ UpdateFileList(fileName string, target string){
        <div hx-target={"#"+ target} hx-swap="beforeend">
            <p class="m-auto text-white"> { fileName } </p>
        </div>
}
