package layout

templ Base() {
    <html lang="en">
        <link rel="stylesheet" href="/assets/styles/style.css"></link>
        <script src="/assets/htmx/htmx.min.js"></script>
        <head>
            <title> Document </title>
        </head>
        <body class="h-screen w-screen overflow-hidden">
            { children... }
        </body>
    </html>
}
