package layout

templ Base() {
    <html lang="en">
    <link rel="stylesheet" href="assets/styles/style.css"></link>
        <head>
            <title> Document </title>
        </head>
            { children... }
    </html>
}
